*, *::before, *::after {
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  margin: 0;
  min-height: 100vh;
  color: white;
  background-color: black;
  font-family: 'Lora', serif;
}

h1 { 
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100vh auto auto 20vh;
  grid-template-areas: 
  ".... hero ...."
  "main main main"
  ".... content ...."
  ".... footer ....";
}

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  
}

.hero .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name .year {
  margin-top: 8px;
  font-size: 28px;
}

.hero .play-button {
  font-size: 80px;
}

.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.main .text {
  flex: 1 1 400px;
  padding: 100px 30px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.main .text p {
  font-size: 34px;
  line-height: 50px;
  max-width: 400px;
  margin-left: 25px;
  text-align: center;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main .image {
  max-width: 550px;
  flex: 1 1 480px;
  margin-left: auto;
  align-self: flex-end;
}

.main .image img {
  display: block;
  max-width: 100%;
}

.content {
  min-height: 100vh;
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid blanchedalmond;
  padding: 40px 0;
}

.content h1 {
  font-size: 60px;
}

.content p {
  line-height: 35px;
  font-size: 25px;
}

footer {
  grid-area: footer;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: skyblue;
}

@media all and (max-width:650px) {

  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .hero {
    font-size: 25px;
  }

  .content p {
    line-height: 28px;
    font-size: 20px;
  }
}
